.columns{
    margin: 40px;
    border: 2px solid black;
    width: 35rem;
    padding: 20px;
    
}
.label{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}
.input{
    width: 30rem;
    margin-bottom: 20px;
}

#selectcountry{
    width: 30rem;
    height: 3rem;
    font-size: larger;
}

.btnedit{
    margin-top: 30px;
}

#btnsubmit{
    margin-right: 20px;
    border-radius: 5px;
    background-color: rgb(42, 128, 202);
    color: white;
    width: 10rem;
    height: 3rem;
    margin-top: 30px;
}

#btnbackhome{
    border-radius: 5px;
    background-color: rgb(42, 128, 202);
    width: 10rem;
    height: 3rem;
    display: inline-block;
    margin-left: 10rem;
    
}

#btnbackhome a{
    color: white;
    text-decoration: none;
    margin-top: 10rem;
    
}

#selectgenderm{
    margin-right: 40px;

}